@media (max-width:600px){
    .sidebar{
        max-height: 100vh;
    }
    .result-title {
        display: flex;
        flex-direction: column;
        i{
            left: 0;
        }
    }
    body{
        max-height: 100vh;
    } 
    .result-container{
        max-height: 89vh;
        overflow-y: scroll

    }
    .result-data {
        display: flex;
        flex-direction: column;
    }
     .search-box{
        // width: 72%;
        padding:  0rem;
        position: fixed;
        bottom: 10px;
        background-color: aqua;
     }
    

}